In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('car_age_price.csv')

In [3]:
df

     Year   Price
0    2018  465000
1    2019  755000
2    2019  700000
3    2018  465000
4    2018  465000
..    ...     ...
107  2016  375000
108  2014  300000
109  2015  425000
110  2016  420000
111  2015  425000

[112 rows x 2 columns]

In [4]:
df.describe()

              Year          Price
count   112.000000     112.000000
mean   2016.669643  483866.044643
std       1.629616   91217.450533
min    2013.000000  300000.000000
25%    2015.000000  423750.000000
50%    2017.000000  500000.000000
75%    2017.000000  550000.000000
max    2020.000000  755000.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    112 non-null    int64
 1   Price   112 non-null    int64
dtypes: int64(2)
memory usage: 1.9 KB

In [6]:
df.isna().sum()

Year     0
Price    0
dtype: int64

In [7]:
x=df['Year']
y=df['Price']

In [8]:
print("Expected format is: \n")

x = df['Year'].values.reshape(-1,1)
y = df['Price'].values.reshape(-1,1)
print (x,y)

Expected format is:

[[2018]
 [2019]
 [2019]
 [2018]
 [2018]
 [2015]
 [2016]
 [2017]
 [2017]
 [2017]
 [2019]
 [2018]
 [2017]
 [2019]
 [2017]
 [2017]
 [2017]
 [2017]
 [2019]
 [2017]
 [2018]
 [2019]
 [2015]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2019]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2018]
 [2020]
 [2019]
 [2019]
 [2018]
 [2019]
 [2019]
 [2018]
 [2019]
 [2018]
 [2016]
 [2018]
 [2013]
 [2018]
 [2013]
 [2013]
 [2017]
 [2017]
 [2014]
 [2017]
 [2014]
 [2016]
 [2015]
 [2017]
 [2017]
 [2017]
 [2015]
 [2017]
 [2017]
 [2015]
 [2015]
 [2015]
 [2015]
 [2017]
 [2015]
 [2013]
 [2017]
 [2017]
 [2015]
 [2015]
 [2015]
 [2015]
 [2015]
 [2014]
 [2015]
 [2017]
 [2015]
 [2015]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2020]
 [2020]
 [2020]
 [2016]
 [2015]
 [2015]
 [2017]
 [2014]
 [2014]
 [2015]
 [2016]
 [2014]
 [2015]
 [2016]
 [2015]] [[465000]
 [755000]
 [700000]
 [465000]
 [465000]
 [350000]
 [425000]
 [575000]
 [509999]
 [575000]
 [500000]
 [500000]
 [500000]
 [600000]
 [475000]
 [500000]
 [500000]
 [550000]
 [500000]
 [500000]
 [500000]
 [500000]
 [434999]
 [550000]
 [550000]
 [550000]
 [550000]
 [550000]
 [550000]
 [550000]
 [650000]
 [550000]
 [550000]
 [550000]
 [450000]
 [550000]
 [550000]
 [486000]
 [475000]
 [545000]
 [525000]
 [600000]
 [550000]
 [550000]
 [550000]
 [450000]
 [500000]
 [450000]
 [396000]
 [600000]
 [325000]
 [550000]
 [345000]
 [345000]
 [525000]
 [550000]
 [341000]
 [550000]
 [450000]
 [550000]
 [490000]
 [540000]
 [540000]
 [595000]
 [490000]
 [495000]
 [525000]
 [400000]
 [465000]
 [300000]
 [450000]
 [490000]
 [300000]
 [320000]
 [490000]
 [490000]
 [450000]
 [325000]
 [409999]
 [400000]
 [390000]
 [390000]
 [390000]
 [480000]
 [325000]
 [320000]
 [520000]
 [520000]
 [520000]
 [520000]
 [520000]
 [520000]
 [520000]
 [520000]
 [520000]
 [520000]
 [520000]
 [640000]
 [700000]
 [600000]
 [350000]
 [400000]
 [350000]
 [375000]
 [400000]
 [400000]
 [300000]
 [375000]
 [300000]
 [425000]
 [420000]
 [425000]]

In [9]:
x.dtype

dtype('int64')

In [10]:
#split the darsaset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test= train_test_split(x,y, test_size=0.2,random_state= 42)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 42) 
print("X_train is \n", X_train)
print("y_train is \n", y_train)

X_train is
 [[2017]
 [2017]
 [2017]
 [2015]
 [2015]
 [2014]
 [2015]
 [2017]
 [2019]
 [2018]
 [2017]
 [2017]
 [2014]
 [2015]
 [2017]
 [2015]
 [2015]
 [2016]
 [2015]
 [2020]
 [2017]
 [2017]
 [2014]
 [2017]
 [2016]
 [2017]
 [2019]
 [2015]
 [2020]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2017]
 [2018]
 [2019]
 [2015]
 [2017]
 [2018]
 [2017]
 [2018]
 [2015]
 [2016]
 [2015]
 [2017]
 [2017]
 [2017]
 [2013]
 [2015]
 [2019]
 [2015]
 [2017]
 [2014]
 [2015]
 [2019]
 [2014]
 [2016]
 [2017]
 [2017]
 [2017]
 [2017]
 [2014]
 [2016]
 [2017]
 [2017]
 [2017]
 [2017]
 [2020]
 [2019]
 [2013]
 [2019]
 [2019]
 [2017]
 [2017]
 [2016]
 [2017]
 [2017]
 [2015]
 [2015]
 [2018]
 [2015]
 [2017]
 [2015]
 [2017]
 [2017]
 [2018]
 [2015]]
y_train is
 [[525000]
 [520000]
 [540000]
 [434999]
 [320000]
 [390000]
 [325000]
 [500000]
 [650000]
 [450000]
 [575000]
 [550000]
 [341000]
 [490000]
 [550000]
 [400000]
 [350000]
 [375000]
 [450000]
 [545000]
 [550000]
 [500000]
 [400000]
 [450000]
 [420000]
 [575000]
 [550000]
 [400000]
 [600000]
 [550000]
 [500000]
 [520000]
 [520000]
 [550000]
 [509999]
 [480000]
 [600000]
 [600000]
 [409999]
 [550000]
 [465000]
 [550000]
 [475000]
 [400000]
 [425000]
 [300000]
 [520000]
 [520000]
 [525000]
 [325000]
 [325000]
 [500000]
 [450000]
 [540000]
 [300000]
 [425000]
 [600000]
 [450000]
 [396000]
 [520000]
 [550000]
 [490000]
 [550000]
 [400000]
 [550000]
 [595000]
 [520000]
 [486000]
 [550000]
 [700000]
 [755000]
 [345000]
 [500000]
 [700000]
 [550000]
 [520000]
 [350000]
 [490000]
 [520000]
 [390000]
 [425000]
 [500000]
 [490000]
 [490000]
 [300000]
 [475000]
 [520000]
 [550000]
 [350000]]

In [12]:
print(len(X_train))

89

# train linear regression

In [13]:
from sklearn.linear_model import LinearRegression

In [14]:
regressor =LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [15]:
# NOW TESTING

In [16]:
y_pred=regressor.predict(X_test)

In [17]:
print('y_pred for the given test data is',y_pred)

y_pred for the given test data is [[600775.91252081]
 [505558.77690466]
 [553167.34471273]
 [553167.34471273]
 [553167.34471273]
 [410341.6412885 ]
 [505558.77690466]
 [553167.34471273]
 [600775.91252081]
 [600775.91252081]
 [315124.50567235]
 [505558.77690466]
 [410341.6412885 ]
 [648384.48032889]
 [553167.34471273]
 [600775.91252081]
 [315124.50567235]
 [410341.6412885 ]
 [505558.77690466]
 [505558.77690466]
 [505558.77690466]
 [505558.77690466]
 [505558.77690466]]

In [18]:
X_test1 = list(np.concatenate(X_test).flat)
y_test1 = list(np.concatenate(y_test).flat)
y_pred1 = list(np.concatenate(y_pred).flat)

In [19]:
df_new=pd.DataFrame({'Hours':X_test1,'Actual data':y_test1,'Predicted':y_pred1})
df_new

    Hours  Actual data      Predicted
0    2019       525000  600775.912521
1    2017       495000  505558.776905
2    2018       465000  553167.344713
3    2018       450000  553167.344713
4    2018       550000  553167.344713
5    2015       300000  410341.641289
6    2017       550000  505558.776905
7    2018       500000  553167.344713
8    2019       500000  600775.912521
9    2019       550000  600775.912521
10   2013       320000  315124.505672
11   2017       550000  505558.776905
12   2015       465000  410341.641289
13   2020       640000  648384.480329
14   2018       465000  553167.344713
15   2019       500000  600775.912521
16   2013       345000  315124.505672
17   2015       390000  410341.641289
18   2017       375000  505558.776905
19   2017       520000  505558.776905
20   2017       550000  505558.776905
21   2017       500000  505558.776905
22   2017       550000  505558.776905

In [20]:
#MODEL EVALUATION

In [21]:
from sklearn.metrics import mean_squared_error
mse= mean_squared_error(y_test,y_pred)
print('the mse for this model prediction is', mse)

the mse for this model prediction is 4326906256.829671

In [22]:
print('Rootmse is ',np.sqrt(mse) )

Rootmse is  65779.22359552195

# Predict car price for 2022 by linear regression

In [23]:
Y_2022=regressor.predict([[2022]])
Y_2022.round(1)

array([[743601.6]])

# Doing Lasso regression on same dataset

In [24]:
from sklearn.linear_model import Lasso

reg = Lasso(alpha=1)
reg.fit(X_train, y_train)

Lasso(alpha=1)

In [25]:
print('R squared training set', round(reg.score(X_train, y_train)*100, 2))
print('R squared test set', round(reg.score(X_test, y_test)*100, 2))

R squared training set 63.89
R squared test set 36.76

In [26]:
from sklearn.metrics import mean_squared_error

# Training data
pred_train = reg.predict(X_train)
mse_train = mean_squared_error(y_train, pred_train)
print('MSE training set', round(mse_train, 2))

# Test data
pred = reg.predict(X_test)
mse_test =mean_squared_error(y_test, pred)
print('MSE test set', round(mse_test, 2))

MSE training set 3107285246.58
MSE test set 4326859771.02

# since MSE for Lasso is lesser than simple linear , lasso is better.